<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ng-container *ngIf="loading">
    <div class="boxSkeleton" *ngFor="let item of [1]">
      <ion-skeleton-text [animated]="true" class="skeleton"></ion-skeleton-text>
    </div>
  </ng-container>
  <ng-container *ngIf="!loading">
    <ion-card>
      <ion-card-content>
        <ion-list>
          
            <ion-item>
              <ion-input [(ngModel)]="nombre" label="Nombre:" placeholder="Armando"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input [(ngModel)]="apellidoPaterno" label="Apellido Paterno:" placeholder="Casas"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input [(ngModel)]="apellidoMaterno" label="Apellido Materno:" placeholder="Rojas"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Contraseña:</ion-label>
              <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Email:</ion-label>
              <ion-input [(ngModel)]="email" type="text"></ion-input>
            </ion-item>

            <ion-item>
              
              <ion-input label="Telefono" type="tel" placeholder="22-7721231"[(ngModel)]="telefono" type="text"></ion-input>
            </ion-item>
          
            <ion-list>
              <ion-item>
                <ion-label>Region:</ion-label>
                <ion-select (ionChange)="cargarComuna()" placeholder="Seleccione" [(ngModel)]="regionSel">
                  <ion-select-option [value]="r.id" *ngFor="let r of regiones">{{r.nombre}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            
            <ion-list>
              <ion-item>
                <ion-label>Comuna:</ion-label>
                <ion-select  placeholder="Seleccione" [(ngModel)]="comunaSel">
                  <ion-select-option [value]="r.id" *ngFor="let r of comunas">{{r.nombre}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>


        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-container>

  
  <ion-row>
    <ion-col>
      <ion-button (click)="registro()" expand="full">Registrarse</ion-button>
    </ion-col>
  </ion-row>



  

</ion-content>