.skeleton{
    width: 100%;
    height: 400px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.2);   
}
.boxSkeleton{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    
    
}

