<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ng-container>
  <div class="avatar">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </div>
</ng-container>

<ng-container>
  <div class="nombreUsuario">
  <h1 *ngFor="let i of usuario">
    Bienvenido {{nombreUsuario}}
  </h1>
</div>
  <div class="cardPerfil">
    <ion-card *ngFor="let i of usuario">
      
      
        <ion-input disabled="true" class="info" >
          Nombre: {{i.nombre}}
        </ion-input>

        <ion-input disabled="true" class="info">
          Apellido Paterno:{{i.apellidoPaterno}} 
        </ion-input>

        <ion-input disabled="true" class="info">
          Apellido Materno:{{i.apellidoMaterno}} 
        </ion-input>

        <ion-input disabled="true" class="info">
          Comuna:{{i.comuna}} 
        </ion-input>
        <ion-input disabled="true" class="info">
          Región:{{i.region}} 
        </ion-input>

    </ion-card>


    

  </div>
</ng-container>
<div class="btnReestablecerPass">
  <ion-button class="btnReestablecer" (click)="restablecer()" shape="round">
    Actualizar Contraseña
  </ion-button>
  
</div>


</ion-content>



