.avatar{
    display: flex;
    justify-content: center;
    margin-top: 20%;
    
    
}
.nombreUsuario{
    display: flex;
    justify-content: center;
}

.info{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
    display: flex;
    align-items: center;
    color: aqua;
    font-size: 25px;
    
}
h1{
    color: black;
    font-size: 30px;
}

.cardPerfil{
    display: flex;
    justify-content: center;

}

.btnReestablecerPass{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnVolver{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

