<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ng-container>
  <div class="avatar">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </div>
</ng-container>

<ng-container>
  <div class="cardPerfil">
    <ion-card>
      <ion-title>
        Bienvenido (Usuario)
      </ion-title>
      
        <ion-input disabled="true" class="info" placeholder=" Armando">
          Nombre: 
        </ion-input>

        <ion-input disabled="true" class="info"  placeholder=" Casas">
          Apellido: 
        </ion-input>

        <ion-input disabled="true" class="info"  placeholder=" Estudiante">
          Rol: 
        </ion-input>
      

    </ion-card>


    

  </div>
</ng-container>
<div class="btnReestablecerPass">
  <ion-button class="btnReestablecer" (click)="restablecer()" shape="round">
    Actualizar Contraseña
  </ion-button>
  
</div>


</ion-content>



