<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="deslog()" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-title>RegistrApp!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    
  </div>
 
  <ion-card >
    <ion-card-header>
      <ion-card-title><h4>Bienvenido (Usuario) al Menu Principal.</h4></ion-card-title>
      
    </ion-card-header>
  
    <ng-container *ngIf="!loading">
      <ng-container *ngFor="let menu of arrayMenu">
        <ion-card (click)="stop()"  class="menuEnabled" [routerLink]="menu.url" *ngIf="!menu.disabled">
          <div class="box">
            <ion-icon size="large" [name]="menu.icono"></ion-icon>
            <h3>{{menu.titulo}}</h3>
          </div>
        </ion-card> 

         <ion-card class="menuDisabled" *ngIf="menu.disabled">
          <div class="box">
            <ion-icon size="large" [name]="menu.icono"></ion-icon>
            <h3>{{menu.titulo}}</h3>
          </div>
        </ion-card> 
      </ng-container>
    </ng-container>


      <ng-container *ngIf="loading"> 
        <div class="boxSkeleton" *ngFor="let item of [1,2,3]">
          <ion-skeleton-text [animated]="true" class="skeleton"></ion-skeleton-text>
        </div>
      </ng-container>


      <div class="contenedor">
        <div class="track">
          <ion-card id="menuEnabled" button="true">
            <ion-card-content  (click)="play()"><p>Modo Fiesta</p></ion-card-content>
          </ion-card>
        </div>
      </div>
