<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
      <ion-title size="large">asistencia</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-container>

    <div class="avatar">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </div>
    
    </ng-container>

  <ion-card>
    <ion-card-content>
      <ion-label>Nombre:</ion-label>
      <ion-input type="text"></ion-input>
      <ion-label>Apellido:</ion-label>
      <ion-input type="text"></ion-input>
      <ion-label>Asignatura:</ion-label>
      <ion-input type="text"></ion-input>
      <ion-label>Correo:</ion-label>
      <ion-input type="text"></ion-input>
      <ion-label>Fecha:</ion-label>
      <ion-input type="date"></ion-input>
    


      
    </ion-card-content>
    </ion-card>
    <ion-row>
      <ion-col>
        <ion-button (click)="menu()" >Guardar</ion-button>
        <ion-button (click)="menu()" >Cancelar</ion-button>
      </ion-col>
    </ion-row>
</ion-content>
