.dateTime{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 5%;
    margin-left: 5%;
    color: rgb(138, 255, 255);
}

.btnVolver{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#btnDate{
    margin: 2%;
}
