<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Escaneo QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      <h1>Captura QR.</h1>
      <ion-item class="img-qr">
        <ion-img
  src="https://img.freepik.com/premium-vector/smartphone-hand-scan-qr-code-qrcode-phone-camera-vector-flat-illustration_833641-613.jpg"
  alt="The Wisconsin State Capitol building in Madison, WI at night">
</ion-img>
      </ion-item>
      <ion-item class="btn-captura" >
        <ion-button (click)="scan()" shape="round">Capturar.</ion-button> 
      </ion-item>
            
    </ion-card-content>
  </ion-card>


  
</ion-content>
